@import url('../components/btn.css');

.images-section {
  min-height: 100dvh;
  padding-block-start: calc(var(--section-padding) + 60px);
}

.images-section .card-btn {
  background-color: var(--orange-red);

  /* Centering the button */
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -20px;
}

.images-section .card__content > p:first-of-type {
  margin-top: 0;
}

.images-section .card__content > p:last-of-type {
  margin-bottom: 0;
}

.images-section .card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
}

.images-section .card__link {
  color: #64968c;
  text-decoration: none;
  margin-left: auto;
}

.images-section .card__link:is(:hover, :focus) {
  text-decoration: underline;
}
