/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Card...........................Cards style
 * Btn............................Button style
 *
 * MAIN CONTENT
 * Service........................Service style
 * Media queries..................Responsive for all devices
 */

/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url('../components/btn.css');

.images-section {
  min-height: 100dvh;
  padding-block-start: calc(var(--section-padding) + 60px);
}

.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card {
  /* max-width: 40rem; */
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.1rem 0.3rem 0.1rem #868686;
  transition: scale 0.2s ease-out;
}

.card-btn {
  position: absolute;
  top: 45%;
  transform: translateX(100%);
  border-radius: 0.5rem;
  color: antiquewhite;
  background-color: var(--orange-red);
  padding: 1rem 1.5rem;
  display: none;
  cursor: pointer;
}

.card:is(:hover, :focus, :focus-within) {
  scale: 1.05;
}

.card:is(:hover, :focus, :focus-within) .card__image-overlay {
  opacity: 0.5;
}

.card:is(:hover, :focus, :focus-within) .card-btn {
  display: block;
}

.card__content-title {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 10px;
}

.card-image-container {
  position: relative;
}

.card__image-overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  display: block;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
}

.card__link {
  color: #64968c;
  text-decoration: none;
  margin-left: auto;
}

.card__link:is(:hover, :focus) {
  text-decoration: underline;
}

.search-form-container {
  display: flex;
  margin: 10px;
  justify-content: end;
}

.search-form {
  display: flex;
  gap: 2rem;
}

.search-input {
  outline: transparent;
  box-shadow: 0.1rem 0.1rem 0 0.1rem #121212;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: #ffffff;
}

.search-input:is(:focus) {
  outline: transparent;
}

.search-btn {
  background-color: var(--orange-red);
  padding: 1rem 1.5rem;
  color: #ffffff;
  border-radius: 5px;
}
